<footer class="footer-section bg-light py-5 mt-5">
    <div class="container p-4">
        <div class="row row-cols-md-{{ section.settings.col_num }} row-cols-1">
            {% for block in section.blocks %}
                {% assign item = block.settings %}
                {% if block.type == "link_list" %}
                    <div class="col g-2">
                        <h5>{{ item.title }}</h5>
                        {% assign footer_linklist = item.menu%}
                        <ul class="list-unstyled text-small">
                            {% for link in linklists[footer_linklist].links %}
                                <li><a href="{{ link.url }}}">{{ link.title | escape}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else if block.type == 'text'%}
                    <div class="col g-2">
                        <img src="{{ item.logo | img_url: 'medium' }}" class="mb-5">
                        <h5>{{ item.title}}</h5>
                        <p>{{ item.description }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
   {% if section.settings.enable_payment_icons %}
        <div class="container d-flex justify-content-center">
            {% for payment_type in shop.enabled_payment_types %}
                <img src="{{ payment_type | payment_type_img_url }}" alt="">
            {% endfor %}
        </div>
   {% endif %}
</footer>


<script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>
<script src="{{ 'application.js' | asset_url }}" defer></script>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "range",
            "id": "col_num",
            "default": 3,
            "min": 2,
            "max": 4,
            "label": "Number Of Columns"
        },
        {
            "type": "checkbox",
            "id" : "enable_payment_icons",
            "default": true,
            "label": "Enable Payment Icons"
        }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "type": "link_list",
            "name": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Quick Links"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
            ]
        },
        {
            "type": "text",
            "name": "Store Details",
            "settings": [
                {   
                    "type": "image_picker",
                    "id" : "logo",
                    "label": "Store Logo"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label" : "Heading",
                    "default": "Store information"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Text"
                }
            ]
        }
    ]
}
{% endschema %}